@media only screen and (max-width: 600px) {
  .subContainer{
  width: 50vw !important;
  }
}

.container {
  display: flex;
  justify-content: center;
}



.subContainer{
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  width: 25vw;

}

.subContainer label {
  display: grid;
  justify-content: center;
  font-size: 25px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-size: 30px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  padding: 12px 0 25px 0;
}

.createBtn,
.backBtn {
  margin-top: 10px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  width: 69px;
  height: 30px;
  background-color: lightgray;
}
