.container,
.errorContainer {
  display: flex;
  justify-content: center;
}

.subContainer,
.error {
  display: grid;
  justify-items: center;
}

.subContainer p {
  width: 100%;
}

.searchBtn {
  width: 100px;
  height: 42px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: lightgray;
  margin-bottom: 20px;

}

.backBtn {
  width: 100px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: lightgray;
}
